.events-list {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 80px);
  height: 100vh;
  margin: 0 0 auto auto;
  padding: 20px;

  &__list {
    //max-width: 800px;
    max-height: 60vh;
    margin: auto;
    text-align: left;
  }

  &__item {
    color: #C4CBCA;
  }

  &__form {
    height: 20vh;
    margin-bottom: 40px;
  }

  &__label {
    display: inline-block;
    margin: 0 60px 40px 0;
    color: #C4CBCA;
  }

  &__input {
    background-color: transparent;
    border: transparent;
    border-bottom: 1px solid;
    border-image: linear-gradient(20deg, #3CBBB1 18%, #EE4266 55%);
    border-image-slice: 1;
    color: #C4CBCA;
  }
}

