.main-panel {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 80px;
  height: 100vh;
  padding: 20px 10px 10px;
  background-color: #0A0F0D;
  box-shadow: -11px 9px 21px 9px #000000;
  transition: box-shadow 0.4s ease-in-out;

  &:hover {
    box-shadow: -11px 9px 21px 15px #000000;
  }

  &__logo {
    display: block;
    margin: 0 auto;
    justify-self: flex-start;
    align-self: flex-start;
    color: #fcfcfc;
    font-size: 24px;

    svg {
      width: 40px;
      height: auto;
      transition: all 0.4s ease-in-out;
    }

    &:hover {

      svg {
        transform: rotate(180deg);
      }
    }
  }

  &__photo {
    width: 40px;
    height: 40px;
    margin: 20px auto;
    border-radius: 100%;
    //border-color: #9ecaed;
    //box-shadow: 0 0 10px #9ecaed;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    display: none;
    text-align: center;
    color: #ffffff;
  }

  &__link {
    display: block;
    height: 30px;
    margin-bottom: 15px;
    color: #ffffff;

    svg {
      display: block;
      width: 30px;
      margin: auto;
      transition: all 0.2s ease-in-out;
    }

    span {
      display: none;
    }

    #eventsIcon {
      width: 26px;
    }
    #settingsIcon {
      width: 27px;
    }

    &:hover {

      svg {
        transform: translateY(-3px);
      }
    }
  }

  &__nav {
    display: block;
    justify-self: center;
    margin: auto;
  }

  &__owner-info {
    justify-self: flex-end;
  }
}