@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Black.ttf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #252525;
  overflow-x: hidden;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  max-width: 1400px;
  height: 100vh;
  margin: auto;
}

.inner__col {
  width: 50%;
}

.title {
  width: fit-content;
  margin: 0 0 40px;
  font-size: 2.5rem;
}

.subtitle {
  font-size: 2rem;
}

.subtitle_small {
  font-size: 1.5rem;
}

.button {
  display: block;
  padding: 10px 28px;
  //background-color: #663399;
  background-color: #9966cc;
  transition: background-color 0.25s ease-in-out;
  border: none;
  border-radius: 6px;
  color: #ffffff;
}
