* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: $main-font;
  font-size: 14px;
  font-weight: 400;
  color: $black;
  overflow-x: hidden;
}

main {
  padding-left: $sidebar-width;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  max-width: 1400px;
  height: 100vh;
  margin: auto;
}

.inner__col {
  width: 50%;
}

.title {
  width: fit-content;
  margin: 0 0 40px;
  font-size: 2.5rem;
}

.subtitle {
  font-size: 2rem;
}

.subtitle_small {
  font-size: 1.5rem;
}

.button {
  display: block;
  padding: 10px 28px;
  //background-color: $dark-purple;
  background-color: $purple;
  transition: background-color 0.25s ease-in-out;
  border: none;
  border-radius: 6px;
  color: $white;
}

