.request-reaction {

  &__button {
    padding: 4px;

    &:hover,
    &:focus {

      svg {
        fill: $purple;
      }

      .request-reaction__count {
        color: $purple;
      }
    }

    &:first-of-type {
      margin-right: 4px;
    }

    &_active {

      svg {
        fill: $purple-dark!important;
      }

      .request-reaction__count {
        color: $purple-dark!important;
      }
    }

    &_reject {

      svg {
        transform: rotate(180deg);
      }
    }

    svg {
      fill: $purple-light;
      transition: fill $base-animation;
    }
  }

  &__count {
    display: block;
    font-size: 10px;
    color: $purple-light;
    transition: color $base-animation;

    &_active {
      color: $purple-dark;
    }
  }
}
