.form {
  min-width: 350px;
  margin-top: 75px;
  padding: 40px 35px;
  box-shadow: 0 0 7px rgba(0,0,0,0.1);
  border-radius: 3px;
  background-color: $white;

  &__wrapper {
    width: fit-content;
    min-width: 350px;
    height: fit-content;
    margin: auto;
  }

  &__input {
    display: block;
    width: 100%;
    margin-top: 4px;
    padding: 3px 15px 5px 5px;
    border: none;
    border-bottom: 1px solid $grey-border;
    outline: none;
  }

  &__label {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 22px;
    font-size: 0.75rem;
    color: $grey-border;
    transition: color 0.2s ease-in-out;
  }

  &__button {
    width: 100%;
    margin-top: 40px;
  }

  &__thanx {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 430px;
    margin-top: 75px;
    padding: 40px 35px;
    background-color: $white;
    box-shadow: 0 0 7px rgba(0,0,0,0.1);
    border-radius: 3px;
  }

  &__thanx-button {
    justify-self: flex-end;
  }
}