.form {
  min-width: 350px;
  margin-top: 75px;
  padding: 40px 35px;
  box-shadow: 0 0 7px rgba(0,0,0,0.1);
  border-radius: 3px;

  &__wrapper {
    width: fit-content;
    min-width: 350px;
    height: fit-content;
    margin: auto;
  }

  &__input {
    display: block;
    width: 100%;
    margin-top: 4px;
    padding: 3px 15px 5px 5px;
    border: none;
    border-bottom: 1px solid #cccccc;
    outline: none;
  }

  &__label {
    display: block;
    width: 100%;
    margin-bottom: 22px;
    font-size: 0.75rem;
    color: #cccccc;
    transition: color 0.2s ease-in-out;
  }

  &__button {
    width: 100%;
    margin-top: 40px;
  }
}