.communities-list {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;

  &__text {
    text-align: center;
    color: #dddddd;

    &_active {
      text-align: left;
      color: #000000;
    }
  }
}

.community-block {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 310px;
  height: 60px;
  margin-top: 10px;
  padding: 5px 30px;
  border: 1px solid #cccccc;
  border-radius: 6px;
  box-shadow: 0 0 0px rgba(102, 51, 153, 0);
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: 0 0 10px rgba(102, 51, 153, 0.3);
  }

  &__title {
    display: block;
    position: relative;
    width: fit-content;
    height: fit-content;
    font-size: 24px;
    font-weight: 600;
    color: #252525;
  }

  &_button {
    font-size: 50px;
    line-height: 50px;
    color: #ffffff;
    //background-color: #663399;
    background-color: #9966cc;

    &:disabled {
      background-color: #eeeeee;
      border: #eeeeee;
      cursor: default;

      &:hover {
        box-shadow: none;
      }
    }
  }
}

.community-form {
  position: relative;
  right: -100vw;
  width: 35vw;
  height: 350px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  transition: right 0.8s ease-in;

  &_shown {
    right: 0;
    transition: right 0.4s ease-out;
  }
}